@reference "../../styles/variables.css";

.notification-portal {
  z-index: 51;
  @apply bottom-0 left-0 p-2 gap-2 flex flex-col justify-end items-start fixed pointer-events-none;
}

.notification {
  @apply pointer-events-auto flex justify-between gap-2 items-center min-w-40 max-xs:w-full relative z-10 p-2 px-2.5 rounded-3xl;
}
