@reference "../../styles/variables.css";

.icon-button {
  @apply bg-base/30 hover:bg-base-light w-7 h-7 min-w-7 rounded-full flex items-center justify-center transition duration-300 ease-in-out;
}

.icon-button.error:hover {
  @apply bg-error text-bg-error;
}

.to-top {
  @apply fixed bottom-4 right-4 z-50 transition duration-500 ease-in-out;
}

.to-top.show {
  transform: scale(1);
}

.to-top.hide {
  transform: scale(0);
}

.button {
  @apply text-sm font-medium text-text bg-base hover:bg-base-light transition flex items-center gap-2 justify-center rounded-4xl px-4 py-2 cursor-pointer;
}

.button.close {
  @apply hover:bg-red-500;
}

.fab {
  @apply w-12 h-12 fixed right-4 bottom-4 text-lg;
}

.outlined {
  @apply bg-base border-border text-text border-2 hover:bg-border;
}

.outlined.primary {
  @apply border-bg-primary hover:bg-primary hover:border-primary hover:text-base;
}

.submit.primary {
  @apply bg-bg-primary hover:bg-primary text-base hover:text-text;
}

.primary {
  @apply transition duration-300;
}

.password-icon {
  top: 50%;
  transform: translateY(-50%);
}
