@reference "./variables.css";

a,
button {
  @apply text-sm font-medium;
}

input {
  @apply text-sm text-text-muted;
}

.input {
  @apply text-white bg-base border-border border-2 px-4 py-1 rounded-sm;
}

.input.error {
  @apply border-red-500;
}

svg.primary,
p.primary,
a.primary {
  @apply hover:text-hover-primary;
}

.primary {
  @apply text-primary;
}

.secondary {
  @apply text-secondary;
}

.tertiary {
  @apply text-tertiary;
}

.quaternary {
  @apply text-quaternary;
}
.real-primary {
  @apply bg-primary;
}

.real-secondary {
  @apply bg-secondary;
}

.real-tertiary {
  @apply bg-tertiary;
}

.real-quaternary {
  @apply bg-quaternary;
}

.text-primary {
  @apply text-primary;
}

.text-secondary {
  @apply text-secondary;
}

.text-tertiary {
  @apply text-tertiary;
}

.text-quaternary {
  @apply text-quaternary;
}
