@reference "./variables.css";

.table-headers-cell {
  @apply rounded-4xl;
}

.chip-main {
  @apply py-1;
}

.text-input,
.text-input-label,
.select-input-label {
  @apply !text-text disabled:!text-gray-500;
}

.select-input {
  @apply !text-text disabled:!text-gray-500;
}

select > option {
  color: black !important;
}

.autocomplete-suggestions-container {
  @apply border-2 border-border/40 rounded-lg;
}

.text-input,
.select-input {
  @apply border-2 border-border/40 !pl-2 rounded-lg;
}

.text-input-label,
.select-input-label {
  @apply left-2 peer-focus:!left-2;
}

.autocomplete-input-container,
.select-input-container,
.options-widget-container,
.text-input-container {
  @apply mb-0 pb-0;
}

.text-input-label,
.select-input-label,
.peer:focus ~ .text-input-label,
.peer:focus ~ .select-input-label {
  transform: translateY(-30px);
  font-weight: 400;
  top: 10px;
}

.text-input.has-value ~ .text-input-label,
.text-input.has-placeholder ~ .text-input-label {
  font-weight: 400;
  transform: translateY(-1.75rem);
}

.text-input-helper-text {
  @apply text-sm;
}

.table-empty {
  border-top: 0;
}

.filter-dropdown-submit {
  @apply bg-bg-primary hover:bg-hover-primary text-base;
}

.filter-container {
  @apply mb-4 grid grid-cols-4 max-lg:grid-cols-3 max-md:grid-cols-2 max-xs:grid-cols-1 gap-x-6 gap-y-8 p-3;
}

.filter-dropdown-button {
  @apply rounded-4xl !px-4 !py-1 cursor-pointer flex items-center gap-2 justify-center;
}

.filter-dropdown-cancel {
  @apply border-border text-text border-2 hover:bg-border;
}

.button {
  @apply text-sm font-medium text-text transition duration-300 flex items-center gap-2 justify-center rounded-4xl px-4 py-2 cursor-pointer;
}

.button.close {
  @apply hover:bg-red-500;
}

.fab {
  @apply w-12 h-12 fixed right-4 bottom-4 text-lg;
}

.contained {
  @apply bg-base hover:bg-base-light;
}

.text {
  @apply hover:bg-base;
}

.outlined {
  @apply bg-base border-border text-text border-2 hover:bg-border;
}

.outlined.primary {
  @apply border-bg-primary hover:bg-primary hover:border-primary hover:text-base;
}

.submit.primary {
  @apply bg-bg-primary hover:bg-primary text-base hover:text-base;
}

.outlined.secondary {
  @apply border-bg-secondary hover:bg-secondary hover:border-secondary hover:text-base;
}

.submit.secondary {
  @apply bg-bg-secondary hover:bg-secondary text-base hover:text-base;
}

.submit.tertiary {
  @apply bg-bg-tertiary hover:bg-tertiary text-base hover:text-base;
}

.outlined.tertiary {
  @apply border-bg-tertiary hover:bg-tertiary hover:border-tertiary hover:text-base;
}

.submit.quaternary {
  @apply bg-bg-quaternary hover:bg-quaternary text-base hover:text-base;
}

.outlined.quaternary {
  @apply border-bg-quaternary hover:bg-quaternary hover:border-quaternary hover:text-base;
}

.password-icon {
  top: 50%;
  transform: translateY(-50%);
}
