@reference "../../styles/variables.css";

.file-input-container {
  @apply relative z-0 w-full mb-5 p-3 flex items-center justify-center border border-dashed border-gray-300 rounded-lg cursor-pointer hover:border-gray-400;
}

.file-input {
  visibility: hidden;
  @apply absolute;
}

.file-preview-list {
  @apply mt-2 flex flex-wrap gap-2;
}

.file-preview {
  @apply flex items-center gap-5;
}

.file-icon {
  @apply w-10 h-10;
}
