@reference "../../styles/variables.css";
.account-tabs {
  width: calc(100vw - 40px) !important;
  overflow: auto;
}

.mobile-account-tabs {
  @apply sticky top-14 z-10 bg-base-light py-3;
}

.transactions-table-body {
  max-height: calc(100vh - 320px);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .transactions-table-body {
    max-height: none;
  }
}

.tabs-layout-main {
  @apply !h-auto;
}
