@reference "../../styles/variables.css";

.drawer-backdrop {
  @apply fixed z-30;
}

.drawer-backdrop.opened {
  @apply w-screen h-screen;
}

.drawer-backdrop.closed {
  @apply pointer-events-none;
}

.drawer {
  @apply pt-5 w-64 fixed top-0 left-0 z-1 border-r-2 rounded-r-lg border-border h-screen;
}

.drawer.opened {
  @apply shadow-xl shadow-black/50 translate-x-0;
}

.drawer.closed {
  @apply -translate-x-64;
}
