@reference "../../styles/variables.css";

.header {
  transition: all 300ms ease-in-out;
  @apply w-full flex items-center justify-between z-20 px-3 h-12 bg-base sticky top-0;
}

.button.menu {
  @apply h-10 w-10 rounded-full !p-0;
}
