@reference "../../styles/variables.css";

.dialog .button {
  @apply px-4 py-1 rounded-4xl;
}

.dialog-backdrop {
  @apply fixed left-0 top-0 flex items-center justify-center z-50 max-xs:z-30;
}

.dialog-backdrop.opened {
  @apply backdrop-blur-xs;
}

.dialog {
  @apply flex flex-col relative min-xs:min-w-90 bg-base p-5 min-xs:rounded-2xl min-xs:border-border border-2 max-xs:w-screen max-xs:h-screen;
}

.dialog.opened {
  @apply opacity-100 translate-y-0;
}

.dialog.closed {
  @apply opacity-0 translate-y-2;
}

.dialog-header {
  @apply flex items-center justify-between gap-2 mb-6 max-xs:mb-10;
}
