@reference "../../styles/variables.css";

.onboarding-main {
  @apply fixed w-screen h-screen top-0 left-0 bg-base z-50 flex items-center justify-center;
}

.onboarding-main .tabs-layout-main {
  @apply flex gap-40 flex-col-reverse;
}

.onboarding-main .tabs-container {
  @apply justify-center gap-5;
}

.onboarding-main .tab {
  @apply !rounded-full w-2 h-2 p-0;
}

.onboarding-main .tab.outlined {
  @apply !bg-primary;
}
