@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.sync .loader {
  width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
}
