@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.viewport {
  min-height: 100vh;
  min-height: 100svh;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.sync .loader {
  width: 30px;
}

.button-loading .loader {
  width: 22px;
}
.button-loading .loading {
  background: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}
